{% extends 'base.html'%}
{%block title%} Edit Profile {%endblock title%}

{% load accounts_extras %}

{%block body%}
<section>
  <div class="container-password">
    <div class="container center text-white">
      <div class="row">
        <div class="col-md-4 offset-md-4 shadow pb-4 login-box">
          <h3 class="text-center pt-4 pb-1 hand-font">Changer Mot de passe</h3>
          <form method="post">
            {% csrf_token %}
            <div class="container">
              <div class="col-md-10 offset-md-1">


                <div class="pb-2">
                  <label for="">Ancien:</label>
                  {{ form.old_password|add_class:"w-100 login-input border-radius-30 shadow" }}
                  {{ form.old_password.errors}}
                </div>
                <div class="pb-2">
                  <label for="">Nouveau:</label>
                  {{ form.new_password1|add_class:"w-100 login-input border-radius-30 shadow" }}
                  {{ form.new_password1.errors}}
                </div>
                <div class="pb-2">
                  <label for="">Confirmation:</label>
                  {{ form.new_password2|add_class:"w-100 login-input border-radius-30 shadow" }}
                  {{ form.new_password2.errors}}
                </div>

                <div class="text-center py-3"><button type="submit" class="btn bg-day btn-block text-white border-0">Changer mot de passe</button></div>
              </div>


            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
 {%endblock body%}
