{% extends 'base.html'%}
{%block title%} Edit Profile {%endblock title%}
{% load static %}
{% load accounts_extras %}

{%block body%}
<section>


  <div class="container">

  </div>
<div class="container-profile">
  <div class="container">
    <div class="col-md-12 shadow login-box pb-4">
      <h1 class="text-center pt-4 pb-1 font-weight-light my-3 hand-font"><i class='text-day fa fa-user'></i> Infos</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 pt-0">


                <div class="py-2">
                  <label for="" class='text-secondary'>Wilaya:</label>
                  {{ form.wilaya|add_class:"form-control" }}
                  {{ form.wilaya.errors}}
                </div>

                <div class="pb-2">
                  <label for="" class='text-secondary'>Telephone:</label>
                  {{ form.telephone|add_class:"form-control" }}
                  {{ form.telephone.errors}}
                </div>
                <div class="pb-2">
                  <label for="" class='text-secondary'>Fax:</label>
                  {{ form.fax|add_class:"form-control" }}
                  {{ form.fax.errors}}
                </div>
                <div class="pb-2">
                  <label for="" class='text-secondary'>Adresse:</label>
                  {{ form.adresse|add_class:"form-control" }}
                  {{ form.adresse.errors}}
                </div>

              </div>
              <div class="col-md-6">
                <div class="pb-2">
                  <label for="" class='text-secondary'>E-mail:</label>
                  {{ userForm.email|add_class:"form-control" }}
                  {{ userForm.email.errors}}
                </div>
                <div class="pb-2">
                  <label for="" class='text-secondary'>Nom:</label>
                  {{ userForm.first_name|add_class:"form-control" }}
                  {{ userForm.first_name.errors}}
                </div>
                <div class="pb-2">
                  <label for="" class='text-secondary'>Prénom:</label>
                  {{ userForm.last_name|add_class:"form-control" }}
                  {{ userForm.last_name.errors}}
                </div>

                <div class="pb-2">
                  <label for="" class='text-secondary'>Ville:</label>
                  {{ form.ville|add_class:"form-control" }}
                  {{ form.ville.errors}}
                </div>
                <div class="text-center py-3">
                  <button type="submit" class="btn bg-day btn-block text-white border-0 btnn">Sauvgarder</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




</section>
 {%endblock body%}
